@model IEnumerable<FamilyGo.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="about-heading">
    <h2>
        Games for Children
    </h2>
</div>

<div class="about-heading">
    <table class="table">

        <thead>
            <tr style="display:none">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
            <tr style="display:none">
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

    </table>
</div>
@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />