@model IEnumerable<FamilyGo.Models.Game>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games for Child</h2>

<p>  </p>
<p>  </p>
<p>  </p>

<table class="table">
    <!--
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
    </thead>
    -->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }

</table>
@section Scripts{
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
    }
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />