@model FamilyGo.Models.Place
@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-heading">
    <h2> Place Detail</h2>
</div>

<div id="d1"></div>
<img src="@ViewBag.imUrl" />
@ViewBag.rating
@ViewBag.phoneNumber
@ViewBag.website
@ViewBag.openingNow
@ViewBag.weekday
@foreach (var item in ViewBag.review)
{
    @item.author_name<br/>
    @item.relative_time_description<br />
    @item.text<br />
    <br/>
}











<script>




</script>