@model IEnumerable<FamilyGo.Models.Place>
@Scripts.Render("~/bundles/jquery")
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about-heading">
    <h2>Place you can go</h2>
</div>


<div id="leftside">
    <div class="about-heading">
        <h5> Children Age Group</h5>
        <div>
            <input type="radio" name="age" value="0" /> All<br />
            <input type="radio" name="age" value="1" /> 3-6 years old<br />
            <input type="radio" name="age" value="2" /> 7-12 years old
        </div>
        <h5>Change Activities</h5>
        <select id="Select1">
            <option value="camping">Camping</option>
            <option>Park</option>
            <option>Game</option>

        </select>

    </div>

</div>

<div style="display:grid">

    <div id="map" style="height:425px"></div> <br />

    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Facility)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Suburb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity.Name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Facility)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suburb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Activity.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.PlaceId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.PlaceId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.PlaceId })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>



<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('input[type=radio][name=age]').change(function () {
            if (this.value == '0') {
                alert("All!");
            }
            else if (this.value == '1') {
                alert("1!");
            }
            else {
                alert("2!");
            };
        });
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJeTABC7AwjSI-x7dm2cVlbHvA3yN65HA&callback=initMap" async defer></script>

